---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";
const pageTitle="Tag index"
// access all posts
const allPosts = await getCollection("posts");
// generate list of unique tags
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

---


<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {tags.map((tag) => (
          <p><a class="tag" href={`/tags/${tag}`}>{tag}</a></p>
        ))}
      </div>
</BaseLayout>

