---
import Social from './Social.astro';
---

<style>
  footer {
    background-color: hsla(240, 69%, 19%, 1);
  }
</style>
<footer>
  <p>Learn more about me and my projects on:</p>
  <Social platform="github" username="ccozens" />
  <Social platform="linkedin" username="in/chris-cozens-b2883a45/" />
</footer>
