---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>

  a {
    padding: 0.5rem 1rem;
    margin: 0.25em;
    border: dotted 1px var(--borderGray);
    border-radius: .5em;
    
    background-color: var(--purpleForTags);
    text-decoration: none;
  }
</style>
